.fnf-item {
  height: 200px;
  font-size: 2rem;
  .fnf-desc-text {
    font-size: 1rem;
  }
}

.icon-container {
  width: 100%;
  height: auto;
  font-size: 4rem;
  text-align: center;
}

.mb-8 {
  margin-bottom: 2rem;
}
.mt-8 {
  margin-top: 2rem;
}
