<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#ed4545" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="container-fluid h-100">
    <div class="row h-100 row-1 container-row" style="margin-top: 135px;">
      <div class="col-md-6 offset-md-3 card-non-hover">
        <div class="sub-heading-text-1-semi-bold" style="margin: 1rem 0 2rem 0; padding: 0 1rem">
          {{ 'DASHBOARD.CHECKOUT' | translate}}
          <fa-icon style="font-size: 1rem;" class="fa-xs icon-div float-right" [icon]="faArrowLeft" (click)="backtoNewOrder()" style="cursor: pointer;"></fa-icon>
        </div>        
        <p></p>
        
    </div>   
    </div>
  </div>
