$primary-color: #ed4545;

.navbar-brand {
  img {
    height: 70px;
  }
}

.headerC{
  background-image: url(../../../../assets/img/header_cc.png);
  background-position: 0px -82px;
  height: 130px;
}