.container{
    padding-top: 110px;
    padding-bottom: 10px;
}
agm-map {
    height: 300px;
  }
  .imageconfig{
    width: 90%;
    margin: 5%;
    height: 150px;
}
.who{
  color: #633800;
}

.heading{
  font-size: 20px;
  color: #727070;
}


.team-image {
  img{
    display: block;
    width: 100px;
    border-radius: 100%;
    border: 2px solid #dc3545;
    height: 100px;
    object-fit: cover;
  }
}
.namePhotoAndPosition{
  display: flex;
    flex-direction: column;
    align-items: center;
    .linkedin img{
      max-width: 20px;
    }
}
.position{
  font-size: 12px;
}
blockquote {
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 3em;
  font-style: italic;
  text-align: center;
}
blockquote:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}
blockquote:after {
  font-family: Georgia, serif;
  position: absolute;
  float:right;
  font-size:6em;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  content: "\201D";
}
blockquote footer {
  padding: 0 2em 0 0;
  text-align:right;
}
blockquote cite:before {
  content: "\2013";
}
