$primary-color: #ed4545;

.navbar-brand {
  img {
    height: 70px;
  }
}

ul.navbar-nav.auth-page {
  .nav-item {
    .nav-link {
      color: black;
    }
    .nav-link:hover {
      color: $primary-color;
    }
  }
}

.cart {
  position: absolute;
    bottom: 74%;
    left: 58%;
}
@media only screen and (max-width: 991px) {
  .cart {
      position:absolute;
      left: 61%;
      bottom: 75%;
  }
}