<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#ed4545" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > Processing... </p></ngx-spinner>
<div class="container-fluid h-100">
    <div class="row h-100 row-1 container-row" style="margin-top: 100px;">
      <div class="col-md-6 offset-md-3 card-non-hover">
        <div
          class="sub-heading-text-1-semi-bold"
          style="margin: 1rem 0 2rem 0; padding: 0 1rem"
        >
          Payment
          <fa-icon style="font-size: 1rem;" class="fa-xs icon-div float-right" [icon]="faArrowLeft" (click)="backtoLanding()"></fa-icon>
        </div>
        <div  class="row">
          <div class="col-sm-12 col-12 " style="margin: 1rem 0 2rem 0; padding: 0 1rem;">
            <div>No pending payments</div>
          </div>
         
        </div>


       
      </div>
    </div>
  </div>

