// .imageconfig{
//     width: 90%;
//     margin: 5%;
//     height: 80px;
// }
// .partner-area{
//     padding-top: 50px;
// }


.slide
{
  transform-origin: center;
  position: relative;
}

.wrapper
{
  max-width: 800px;
  margin: 0 auto;
}