<app-blank-header></app-blank-header>
<div class="container page">
  <div>
    <span>
      <h2>Shipping<br /></h2>
    </span>
  </div>
<p><strong>What are the delivery charges?</strong></p>
<p>Delivery charges varies with each Pincode .</p>
<p>Transporter incur relatively higher shipping costs on low volume items. In such cases, charging a nominal delivery charge helps them offset logistics costs. Please check your order summary to understand the delivery charges for individual products.</p>
<p>For Products listed in Machine Category , a Rs 1500/- charge for delivery per machine may be applied . While, orders of other items are shipped on&nbsp; prices based on Volumetric weights .</p>
<p>Rates per kg may vary from 15/- per kg to Rs. 115/- per kg , plus applicable taxes.</p>
<p>&nbsp;</p>
<p><strong>Why does the delivery date not correspond to the delivery timeline of X-Y business days?</strong></p>
<p>It is possible that the&nbsp; our courier partners have a holiday between the day your placed your order and the date of delivery, which is based on the timelines shown on the product page. In this case, we add a day to the estimated date. Some courier partners do not work on Sundays and this is factored in to the delivery dates.</p>
<p>&nbsp;</p>
<p><strong>What is the estimated delivery time?</strong></p>
<p>Estimated delivery time depends on the following factors:</p>
<ul>
<li>The partner offering the logistic</li>
<li>Product's availability with the Seller</li>
<li>The destination to which you want the order shipped to and location of the Seller.</li>
</ul>
<p>&nbsp;</p>
<p><strong>Are there any hidden costs (sales tax, octroi etc) on items sold?</strong></p>
<p>There are NO hidden charges when you make a purchase . List prices are final and all-inclusive. The price you see on the product page is exactly what you would pay.</p>
<p>Delivery charges are not hidden charges and are charged (if at all) extra depending on the logistics partner policy</p>
<p>.</p>
<p><strong>Why does the estimated delivery time vary for each seller?</strong></p>
<p>You have probably noticed varying estimated delivery times for the product you are interested in. Delivery times are influenced by product availability, geographic location , your shipping destination and the courier partner's time-to-deliver in your location.</p>
<p>Please enter your default pin code on the product page (you don't have to enter it every single time) to know more accurate delivery times on the product page itself.</p>
<p>&nbsp;</p>
<p><strong>Seller does not/cannot ship to my area. Why?</strong></p>
<p>Please enter your pincode on the product page (you don't have to enter it every single time) to know whether the product can be delivered to your location.</p>
<p>If you haven't provided your pincode until the checkout stage, the pincode in your shipping address will be used to check for serviceability.</p>
<p>Whether your location can be serviced or not depends on</p>
<ul>
<li>Whether the logistic partner ships to your location</li>
<li>Legal restrictions, if any, in shipping particular products to your location</li>
<li>The availability of reliable courier partners in your location</li>
</ul>
<p>At times partner prefer not to ship to certain locations. This is entirely at their discretion.</p>
<p>&nbsp;</p>
<p><strong>Why is the CoD option not offered in my location?</strong></p>
<p>Availability of CoD depends on the ability of our courier partner servicing your location to accept cash as payment at the time of delivery.</p>
<p>Our courier partners have limits on the cash amount payable on delivery depending on the destination and your order value might have exceeded this limit. Please enter your pin code on the product page to check if CoD is available in your location.</p>
<p>&nbsp;</p>
<p><strong>I need to return an item, how do I arrange for a pick-up?</strong></p>
<p>Returns are easy. Contact Us to initiate a return. You will receive a call explaining the process, once you have initiated a return.</p>
<p>Wherever possible Logistics partner will facilitate the pick-up of the item. In case, the pick-up cannot be arranged , you can return the item through a third-party courier service. Return fees are borne by Epanipurii kartz.</p>
<p>&nbsp;</p>
<p>I did not receive my order but got a delivery confirmation SMS/Email.</p>
<p>In case the product was not delivered and you received a delivery confirmation email/SMS, report the issue within 7 days from the date of delivery confirmation for the delivery partner to investigate.</p>
<p>&nbsp;</p>
<p><strong>What do the different tags like "In Stock", "Available" mean?</strong></p>
<p>'In Stock'</p>
<p>For items listed as "In Stock", we will mention the delivery time based on your location pincode (usually 2-3 business days, 4-5 business days or 4-6 business days in areas where standard courier service is available). For other areas, orders will be sent by Registered Post through the Indian Postal Service which may take 1-2 weeks depending on the location.</p>
<p><br />'Available'</p>
<p>We might not have the item in stock but can procure it when an order is placed for the item. The delivery time will depend on the estimated procurement time and the estimated shipping time to your location.</p>
<p><br />'Preorder' or 'Forthcoming'</p>
<p>Such items are expected to be released soon and can be pre-booked for you. The item will be shipped to you on the day of it's official release launch and will reach you in 2 to 6 business days. The Preorder duration varies from item to item. Once known, release time and date is mentioned. (Eg. 5th May, August 3rd week)</p>
<p><br />'Out of Stock'</p>
<p>Currently, the item is not available for sale. Use the 'Notify Me' feature to know once it is available for purchase.</p>
<p><br />'Back In Stock Soon'</p>
<p>The item is popular and is sold out. You can however 'book' an order for the product and it will be shipped according to the timelines mentioned.</p>
<p><br />'Temporarily Unavailable'</p>
<p>The product is currently out of stock and is not available for purchase. The product could to be in stock soon. Use the 'Notify Me' feature to know when it is available for purchase.</p>
<p><br />'Permanently Discontinued'</p>
<p>This product is no longer available because it is obsolete and/or its production has been discontinued.</p>
<p>&nbsp;</p>
<p><strong>Does Epanipurii kartz deliver internationally?</strong></p>
<p>As of now, Epanipurii kartz doesn't deliver items internationally.</p>
<p>You will be able to make your purchases on our site from anywhere in the world with credit/debit cards issued in India and 21 other countries, but please ensure the delivery address is in India.</p>
<p>&nbsp;</p>
</div>
