<div class="content-div w-100">
    <div class="head-text">Confirm Order?</div>
    <div class="btns-div">
      <button mat-flat-button class="mat-focus-indicator place-order-btn mat-flat-button mat-button-base" (click)="confirm()">Yes</button>
      <button mat-stroked-button class="mat-focus-indicator mat-flat-button mat-button-base" (click)="reject()" >No</button>
    </div>
    <!-- <div class="btns-div" >
      <mat-progress-spinner
        class="spinner-bottom-sheet"
        diameter="25"
        mode="indeterminate"
      >
      </mat-progress-spinner>
    </div> -->
  </div>
