.navbar-brand {
  img {
    height: 70px;
  }
}

.navbar-nav .nav-item .nav-link.titleCase {
  text-transform: none;
}

::ng-deep .material-icons:hover {
  color: red !important;
}

.navbar:not(.is-sticky) {
  padding-left: unset !important;
  padding-right: unset !important;
}
